<form class="question-form">
    <div class="form-group">
      <label for="QuestionText">Question:</label>
      <input type="text" id="questionText" name="QuestionText" required>
    </div>
    <div class="form-group">
      <label for="answer1">Answer 1:</label>
      <input type="text" id="answer1" name="answer1" required>
    </div>
    <div class="form-group">
      <label for="answer2">Answer 2:</label>
      <input type="text" id="answer2" name="answer2" required>
    </div>
    <div class="form-group">
      <label for="answer3">Answer 3:</label>
      <input type="text" id="answer3" name="answer3">
    </div>
    <div class="form-group">
      <label for="answer4">Answer 4:</label>
      <input type="text" id="answer4" name="answer4">
    </div>
    <button type="submit">Add Question</button>
  </form>