
<h1>Study Buddy <br> Question List</h1>


<nav> 
    <button routerLink="" routerLinkActive="active">Home</button>
    <button [routerLink]="['/favorites', userId]" routerLinkActive="active">Favorites</button>
    <button routerLink="add-question" routerLinkActive="active">New Question</button>
</nav>

    <li *ngFor="let question of questions">
    </li>
    <li>
        <app-question-list [question]="questions[currentIndex]"></app-question-list>
    <button>Add to favorites</button>
    <button (click) = "currentIndex = currentIndex - 1" *ngIf="currentIndex > 0">Previous</button>
    <button (click) = "currentIndex = currentIndex + 1" *ngIf="currentIndex < questions.length - 1">Next</button>
    </li>